* {
  margin: 0;
  padding: 0;
}

/* banner section */
.bannersection {
  padding: 0% 2%;
  background-color: #8585f6;
  height: auto;
}
.GRE-Head {
  padding: 1%;
}
.bannersection-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2% 3% 2%;
}
.bannercontent p {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  line-height: 88px;
  color: #ffffff;
}
.bannerimg {
  width: 700px;
  height: 540px;
}

/* ---------------> */
/* ------------------------------------------------------ >>>>>>>>>>>>>>>>>>>>>>>>*/
/* ---------------------------  Mobile VIEW   ------------------------------------*/
/* ------------------------------------------------------->>>>>>>>>>>>>>>>>>>>>>> */
/* ---------------> */

@media (max-width: 767px) {
  /* banner section mobile view */
  .bannercontent p {
    font-size: 16px;
    line-height: 25px;
  }
  .bannerimg {
    width: 200px;
    height: 150px;
  }
  .GRE-Head img {
    width: 110px;
    height: 30px;
  }
}
/* ----------------------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ------------------------------- */
/* -----------------------------------------  Tab VIEW  -------------------------------------------*/
/* ------------------------------- */
/* ------------------------------------------------------>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 768px) and (max-width: 1004px) {
  /* banner section Tab view */
  .bannercontent p {
    font-size: 40px;
    line-height: 50px;
  }
  .bannerimg {
    width: 80%;
    height: 60%;
  }
  .GRE-Head img {
    width: 110px;
    height: 30px;
  }
}
